{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content %}

  <!-- Three columns of text below the carousel -->
  

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        {% for annonce in annonces %}
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ annonce.name }} <span class="text-muted"> </span></h2>
                <p class="lead">{{annonce.description | raw}}</p>
            </div>
            <div class="col-md-5">
            <img class="image-annonces" src="{{asset('\assets\upload\images\annonces' ~ annonce.image)}}"alt="Les images des annonces" >
            </div>
        </div>
        {% endfor %}
        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
{% endblock %}