{% extends 'base.html.twig' %}

{% block content %}
    <h1> Inscription </h1>

 <hr>
 {# {% if notification == "erreur lors de l'inscription" %}
    <div class="alert alert-info">{{ notification }}</div>
 {% endif %} #}
 
 {{ form(form) }}
 <hr>
   
{% endblock %}
