{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block content %}
    <h1>Créer une annonce</h1>

    {{ include('poste_annonces/_form.html.twig') }}

    <a href="{{ path('app_poste_annonces_index') }}">back to list</a>
{% endblock %}
